@import "../../custom" ;

.productSummary {
  &__imageContainer {
  background-color: #f7f3f0;
  }

  background-color: white;
  color: #cccccc;

  p:first-child {
    font-size: 120px;
    font-weight: bold;
    letter-spacing: normal;

  }

  p:nth-child(2) {
    transform: translateY(-50px);
  }

  &__category {
    color: $primary;
  }

  &__products {
    p:first-child {
      span {
        font-size: 60px;
      }
    }
  }
}