@use "../../mixin" as *;
@use "../../custom" as *;

.productSummary {
  &__title {
    @include titleStyle;

    span {
      background-color: #f7f3f0;
    }
  }

  &__imageContainer {
    background-color: #f7f3f0;
  }

  background-color: white;
  color: #cccccc;

  p:first-child {
    font-size: 120px;
    font-weight: bold;
    letter-spacing: normal;
    @include large-Down{
      font-size: 90px;
    }
    @include extra-Small{
      font-size: 50px;
    }
  }

  span {
    transform: translateY(-50px);
    @include extra-Small{
      transform: translateY(-30px);
    }
  }

  &__category {
    color: $primary;
  }

  &__products {
    p:first-child {
      span {
        font-size: 60px;
        @include large-Down{
          font-size: 30px;
        }
      }
    }
  }
}