.consultationSection {
  &__textContainer {
    background-color: white;

    h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }
  }

  &__imageContainer {

    img {
    }
  }
}