@use "../../mixin" as *;

.consultationSection {
  background: rgb(245, 245, 245);
  background: linear-gradient(90deg, #F9F9F9 5%, #fff 90%);
  border-radius: 60px !important;

  &__textContainer {
    padding-top: 20px;
    h2 {
      font-size: 35px;
      font-weight: bold;
    }
  }
}

@include xLarge {
  .consultationSection {
    &__textContainer {
      h2 {
        font-size:26px;
        font-weight: bold;
      }
    }
  }
}
@include large-Down{
  .consultationSection {

    &__textContainer {
      padding-top: 40px;
      h2 {
        font-size:20px;
      }
    }
  }
}
@include medium{
  .consultationSection {
    border-radius: 30px !important;
    &__textContainer {
      //padding-top: 40px;
      h2 {
        font-size:25px;
        text-align: center;

      }
    }
  }
}