@import "../../custom";
@import "../../mixin";

.introSection {


  &__intro {
    padding:  0 !important;

    h1 {
      font-weight: bold;
      font-size: 80px;
      margin: 60px auto;
      @include extra-Small {
        font-size: 35px;
      }

      span {
        color: $primary
      }
    }

    p {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1.2px;
      text-align: left;
      color: #271d20;
      margin: 0 !important;
    }
  }

  &__intro a,
  &__intro a:hover,
  &__intro a:active {
    background-color: $primary;
    display: inline-block;
    border: none;
    letter-spacing: 0.96px;
    color: #fff !important;
    cursor: pointer;
    font-weight: 600;
    border-radius: 30px;
    padding: 13px 25px;
    text-transform: capitalize;
    line-height: normal;
    margin: 40px 0;

  }
}

