@import "../../custom";
@import "../../mixin";
.introSection {
  //padding:1rem 0;
  &__intro {
    padding-bottom: 2rem;

    h1 {
      //background-color: $primary;
      font-weight: bold;
      font-size: 80px;
      margin: 60px auto;
      @include extra-Small {
        background-color: #0c4128;
        font-size: 65px;
      }

      span {
        color: $primary
      }
    }

    p {
      font-weight: 600;
    }
  }

  &__intro button,&__intro button:hover {
    background-color: $primary;
    border: none;
    letter-spacing: 0.96px;
    font-weight: 600;
    border-radius: 30px;
    padding: 10px 25px 10px 25px;
    text-transform: capitalize;
  }
}

@import '~bootstrap/dist/css/bootstrap.css';
