@import "../../custom";
@import "../../mixin";

.introduction {
  padding: 0 !important;

  h1 {
    font-weight: bold;
    font-size: 80px;
    margin: 60px auto;
    line-height: 1.19;
    letter-spacing: 0.8px;

    span {
      color: $primary
    }
  }

  p {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: left;
    color: #271d20;
    margin: 0 !important;
  }

  a,
  a:hover,
  a:active {
    background-color: $primary;
    display: inline-block;
    border: none;
    letter-spacing: 0.96px;
    color: #fff !important;
    cursor: pointer;
    font-weight: 600;
    border-radius: 30px;
    padding: 13px 25px;
    text-transform: capitalize;
    line-height: normal;
    margin: 40px 0;

  }
}

//Responsive Mode

@include xx-Large {
  .introduction {
    h1 {
      font-size: 70px;
    }

    p {
      font-size: 18px;
    }
  }
}

@include xLarge {
  .introduction {
    h1 {
      font-size: 60px;
    }

    p {
      font-size: 16px;
    }
  }
}

@include extra-Small {
  .introduction {
    padding: 10px 20px;
    h1 {
      font-size: 50px;
      text-align: center;
    }

    p {
      font-size: 18px;
      text-align: center;
    }

    div{
      display: flex;
      justify-content: center;
    }
  }
}

