@use "../../custom" as *;

.productCategory {
  margin: 50px auto;
  &__navBar{
    background-color: white;
    border-radius: 30px;
  }

}
.nav-pills .nav-link.active{
  background-color: $primary !important;
  border-radius: 30px !important;
}
