@use "../../../mixin" as *;
@use "../../../custom" as *;
.FormSection{
  display: flex;
  align-items: center;
  @include medium{
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }
  input{
    border-radius: 30px;
    padding: 10px;
    width: 464px;
    height: 40px;
    border: #cccccc solid 1px;
    @include extra-Small{
     width: 250px;
    }
  }
  button{
    background-color: $primary !important;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
  }
}