@use "../../mixin" as *;
@use "../../custom" as *;
.lauraSection {
  h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }
  p{
    color:#999999;
  }

  &__title {
    @include titleStyle;

    label {
      color: $primary;
    }
  }
}
