.lauraSection {
  h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }
  &__title {
    border-bottom: 0.5px solid #ddd;
    line-height: 0.1em;
    margin-bottom: 5rem;
    margin-top: 130px;

    span {
      color: #271d20;
      font-weight: bold;
      font-size: 2.5rem;
      padding: 0 10px;
      background-color: white;

      label {
        color: #c24b71;
      }
    }
  }

}