.commentSection {

  h5 {
    text-align: center;
    font-weight: bold;
    color: #271d20;
    margin-top: -50px;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    padding: 30px !important;
    color: #999999;
  }

  &__card {
    border-radius: 80px 80px 5px 5px !important;
    background-color: #f0f5f8 !important;
  }

  &__centerCard {
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 80px 80px 5px 5px !important;
    background-color: white !important;
  }

  &__imageContainer {
    width: 100px;
    margin: auto;
    transform: translateY(-50%);

    img {
      width: 100%;
    }
  }
}