@use "../../mixin" as *;
.collectionSection {
  &__title {
  @include titleStyle;
  }

  &__row {
    height: 600px;
  }
  &__responsiveMode{
    display: none;
  }
}

//Responsive Mode
@include xx-Large{
.collectionSection{
  &__row{
    height: auto;
  }
}
}
@include xx-Large-up{
  .collectionSection{
    display: block;
    &__responsiveMode{
      display: none;

    }
  }
}
@include xx-Large{
  .collectionSection{
    display: none;

    &__responsiveMode{
      display: block;
    }
  }
}

