@use "../../custom" as *;

.singleCard {
  background-color: #c24b71;

  &__cardImage {
    padding-top: 20px;
  }

  &__brandCard {
    text-transform: uppercase;
  }
}

.card {
  background-color: #1e2125;
}