@use "../../custom" as *;

.singleCard {
  border-radius: 50px !important;

  svg {
    fill: #c24b71 ;
  }

  &__imageContainer {
    margin: auto;
    padding: 50px 40px;

    &__imageCard {
      width: 100%;
    }
  }

  &__brandCard {
    text-transform: uppercase;
    color: #6a5b60;
  }

}

.singleCard:hover {
  background-color: #c24b71 !important;

}

.singleCard:hover h5 {
  color: white;

}

.singleCard:hover svg {
  fill: white !important;
}